{% extends "base.html" %}

{% block content %}
<div class="card_cal">
    <h2>Escape Calculator</h2>
    <form action="/escape" method="POST">
        <input type="number" step="any" name="Mass" required placeholder="Mass (kg) e.g. 6e24">
        <input type="number" step="any" name="Radius" required placeholder="Radius(m)">
        <button type="submit">Calculate Force</button>
    </form>

    {% if result is not none %}
    <div class="result-box">
        Force: {{ "%.4e"|format(result) }} N
    </div>
    {% endif %}
    {% if error_1 %}
    <div style="color: #ff4d4d; background: rgba(255, 0, 0, 0.1); padding: 10px; border-radius: 8px; margin-bottom: 15px;">
        ⚠️ {{ error_1 }}
    </div>
    {% endif %}
</div>
{% endblock %}