{% extends "base.html" %}

{% block content %}


    <h1 class="home_head" style="font-size: 60px;">Explore the Universe of Physics!&#127757;</h1>
    <p class="h_p">Easily calculate Gravity, Orbital Velocity, Escape Velocity, and Centripetal Force in seconds. Simple, fast, and accurate tools for students and science lovers.</p>


<section>
<div class="grid-container">
    <div class="card">
    <a href="{{ url_for('gravity') }}"  class="h_card">&nbsp;&nbsp;&nbsp;&nbsp;Gravity Calculator&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <i class="fas fa-tablets" style="color: rgb(136, 8, 241); font-size: 50px;"></i>
    </div> 
    
    <div class="card">
    <a href="{{ url_for('orbit') }}"   class="h_card">Orbital Velocity Calculator</a>
    <i class="fas fa-satellite" style="color:  rgb(136, 8, 241); font-size: 50px;"></i>    
    </div>

    <div class="card">
    <a href="{{ url_for('escape') }}"  class="h_card">Escape Velocity Calculator</a>
    <i class="fas fa-rocket" style="color:  rgb(136, 8, 241); font-size: 50px;"></i>
    </div>

    <div class="card">
    <a href="{{ url_for('centripetal') }}"   class="h_card">Centripetal Force Calculator</a>
    <i class="fas fa-globe" style="color:  rgb(136, 8, 241); font-size: 50px;"></i>
    </div>




    <div class="card">
    <a href="{{ url_for('energy') }}"   class="h_card">Energy-Mass Equivalence Calculator</a>
    <i class="fas fa-atom" style="color:  rgb(136, 8, 241); font-size: 50px;"></i>
    </div>

    <div class="card">
    <a href="{{ url_for('redshift') }}"   class="h_card">Gravitational Redshift Calculator</a>
    <i class="fas fa-meteor" style="color:  rgb(136, 8, 241); font-size: 50px;"></i>
    </div>

    <div class="card">
    <a href="{{ url_for('v_time') }}"   class="h_card">Velocity Time Dilation Calculator</a>
    <i class="fas fa-space-shuttle" style="color:  rgb(136, 8, 241); font-size: 50px;"></i>
    </div>

    <div class="card">
    <a href="{{ url_for('time') }}"   class="h_card">Gravitational Time Dilation Calculator</a>
    <i class="fa fa-clock-o" style="color:  rgb(136, 8, 241); font-size: 50px;"></i>
    </div>
</div>


</section>
{% endblock %}