{% extends "base.html" %}
{% set body_class="gravity_page"%}

{% block content %}

<section class="hero">
    <div class="hero_icon">
        <i class="fa-solid fa-atom"></i>
    </div>

    <h1 class="main_h1">
        Velocity Time Dilation <span>Calculator</span>
    </h1>

    <p class="hero_subtitle">

    </p>

</section>


<!-- Introduction -->
<section class="intro">

    <div class="intro_icon">
        <i class="fa-solid fa-atom"></i>
    </div>

    <div class="intro_text">
        <p>

        </p>

        <p class="intro_more">
            If you want to explore the formula used to calculate gravity,
            click the <b>"More Info"</b> button below.
        </p>
    </div>
</section>


<!-- Calculator Grid -->
<div class="calculator_grid">

    <!-- ================= Velocity CALCULATOR ================= -->


    <section class="card">
        <div class="calculator_heading">
            <div>
                <i class="fa-solid fa-calculator"></i>
            </div>

            <h2>
                Velocity Time Dilation<span>Calculator</span>
            </h2>
            
        </div>


        <div class="heading-line"></div>


        <form action="/v_time" method="POST" class="form">

            <!--Radius-->
            <div class="input_wrapper">

                <div class="input_icon">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>

                <div class="input_content">
                    <labal>Time</labal>

                    <input 
                        type="number" 
                        step="any" 
                        name="time" 
                        required 
                        placeholder="e.g.50"
                        
                    >
                </div>

                <div class="unit">
                    s/m/h/y
                </div>
            </div>


            <div class="input_wrapper">

                <div class="input_icon">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>

                <div class="input_content">
                    <labal>Velocity</labal>

                    <input 
                        type="number" 
                        step="any" 
                        name="velocity" 
                        required 
                        placeholder="e.g.3e8"
                        
                    >
                </div>

                <div class="unit">
                    m/s
                </div>
            </div>

            <!--Calculate-->
        
            <button type="submit" class="calculate_btn">
                
                <i class="fa-solid fa-calculator"></i>
                
                <span>Calculate Time</span>
                
                <i class="fa-solid fa-arrow-right"></i>

            
            </button>


        </form>

        <!--Error-->
        {% if error_1 %}
        
        <div class="error_box">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <span>{{ error_1 }}</span>
        </div>

        {% endif %}

        <!--Result-->
        {% if result_time is not none %}
        <div class="result_box">

            <div class="result_icon">
                <i class="fa-solid fa-atom"></i>
            </div>

            <div class="result_content">

                <span>Velocity Time Dilation</span>

                <strong>
                    {{ "%.4e"|format(result_time) }}
                </strong>

            </div>

            {% else %}
            <div class="result_box empty_result">

            <div class="result_icon">
                <i class="fa-solid fa-atom"></i>
            </div>

            <div class="result_content">

                <span>Velocity Time Dilation</span>

                <strong>—</strong>

            </div>

        </div>

        {% endif %}


        <!--More info-->
        <button 
            type="button"
            class="toggle_btn"
            onclick="toggleContent('myContent1')"
        >
            <i class="fa-solid fa-circle-info"></i>
            More Info
        </button>

        <div id="myContent1" class="content">
            <div class="formula_title">
                Velocity Time Dilation
            </div>

            <div class="formula">
            \[ t' = \frac{t}{\sqrt{1 - \frac{v^2}{c^2}}} \]

            </div>

            <div class="formula_cont">
                <p>
                    <b>t'</b> = The time interval measured by an observer moving relative to the event (dilated or longer time).
                </p>

                <p>
                    <b>t<sub>0</sub></b> =  The proper time interval measured by an observer at rest relative to the event (shorter time).
                </p>

                <p>
                    <b>v</b> =The relative velocity of the moving object or observer.
                </p>

                <p>
                    <b>c</b> = The speed of light in a vacuum (\(3.0 \times 10^8\) m/s).
                </p>
            </div>
        </div>

        

        </div>


    </section>


</div>

<!--Footer-->
<div class="footer">

    <span></span>

    <i class="fa-solid fa-atom"></i>

    <p>Science</p>
    <b>•</b>
    <p>Discover</p>
    <b>•</b>
    <p>Calculate</p>

    <span></span>

</div>

<script>

function toggleContent(id) {

    const content = document.getElementById(id);

    if (content.classList.contains("show")) {

        content.classList.remove("show");

    } else {

        content.classList.add("show");

    }

}

</script>


{% endblock %}